body{
	background-color:#000;
}

a{
	display:block;
}

#home{
	display:block;
	width:50px;
	height:50px;
	background-image:url(../images/home.png);
	top:0px;
	right:0px;
	position:fixed;
	z-index:5;
	opacity:.2;
}

#book{
	width:100%;
	height:100%;
	overflow:hidden;
	position:fixed;
}
	
#bookFrame{
	position:relative;
	width:100%;
	padding-top:75%;
	overflow:hidden;
}

#bookScroller{
	position:absolute;
	width:2300%;
	height:100%;
	top:0;
}


.pages{
	width:4.34782%;
	height:100%;
	float:left;
	background-size:100%;
	background-position:center;
	background-repeat:no-repeat;
}

#logo{
	background-image:url(../images/start.jpg);
}

#intro{
	background-image:url(../images/intro.jpg);
}

#one{
	background-image:url(../images/one.jpg);
}

#two{
	background-image:url(../images/two.jpg);
}

#three{
	background-image:url(../images/three.jpg);
}

#four{
	background-image:url(../images/four.jpg);
}

#five{
	background-image:url(../images/five.jpg);
}

#six{
	background-image:url(../images/six.jpg);
}

#seven{
	background-image:url(../images/seven.jpg);
}

#eight{
	background-image:url(../images/eight.jpg);
}

#nine{
	background-image:url(../images/nine.jpg);
}

#ten{
	background-image:url(../images/ten.jpg);
}

#eleven{
	background-image:url(../images/eleven.jpg);
}

#twelve{
	background-image:url(../images/twelve.jpg);
}

#thirteen{
	background-image:url(../images/thirteen.jpg);
}

#fourteen{
	background-image:url(../images/fourteen.jpg);
}

#fifteen{
	background-image:url(../images/fifteen.jpg);
}

#sixteen{
	background-image:url(../images/sixteen.jpg);
}

#seventeen{
	background-image:url(../images/seventeen.jpg);
}

#eighteen{
	background-image:url(../images/eighteen.jpg);
}

#nineteen{
	background-image:url(../images/nineteen.jpg);
}

#twenty{
	background-image:url(../images/twenty.jpg);
}

#twentyone{
	background-image:url(../images/twentyone.jpg);
}

/* MOBILE STYLES */
@media only screen and (max-width: 767px){
	

	
}

/* TABLET STYLES */
@media only screen and (min-width: 768px) and (max-width: 977px){




}


/* DESKTOP STYLES */
@media only screen and (min-width: 978px){
	
}